<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>IMS Intern Panel - Change Password</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
        .lgout {
            padding: 10px;
            list-style-type: none;
            border: 2px solid;
            border-radius: 10px;
        }

        .g-label {
            font-weight: 700;
            color: grey;
        }

        .icon {
            font-size: 40px;
            border: solid;
            border-radius: 50%;
            width: 60px;
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
        }
    </style>
</head>
<body>
<div th:replace="fragments/internHeaderFragment :: header"></div>
<div th:replace="fragments/internAside :: aside"></div>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Change Password</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Alert Messages -->
<!--                        <div th:if="${error}" class="alert alert-danger" role="alert">-->
<!--                            <span th:text="${error}"></span>-->
<!--                        </div>-->

<!--                        <div th:if="${success}" class="alert alert-success" role="alert">-->
<!--                            <span th:text="${success}"></span>-->
<!--                        </div>-->
                        <div class="tab-pane fade show active pt-3" id="profile-change-password"
                             th:classappend="${forcePasswordChange} ? 'show active' : ''">
                            <form th:action="@{'/bisag/intern/change_password'}" method="post" onsubmit="return validatePasswords()">
                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <div class="input-group">
                                            <input name="newPassword" type="password" class="form-control" id="newPassword" required oninput="checkPasswordStrength(this.value)">
                                            <div class="input-group-append">
                    <span class="input-group-text" onclick="togglePasswordVisibility('newPassword')">
                        <i class="fa fa-eye" aria-hidden="true" style="font-size: 1.5rem; height: 100%;"></i>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewPassword" type="password" class="form-control" id="renewPassword" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-8 offset-md-4 col-lg-9 offset-lg-3">
                                        <small id="passwordStrengthMessage" class="text-muted">Password strength: <span id="passwordStrength">Weak</span></small>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="securityPin" class="col-md-4 col-lg-3 col-form-label">Security Pin</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="securityPin" type="password" class="form-control" id="securityPin" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Modal -->
<!-- Alert Modal -->
<!-- Alert Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="statusModalHeader" class="modal-header">
                <h5 class="modal-title" id="statusModalLabel"></h5>
            </div>
            <div class="modal-body text-center" id="statusModalMessage"></div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" onclick="redirectToLogin()" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Hidden fields to pass values -->
<input type="hidden" id="flashSuccess" th:value="${success}" />
<input type="hidden" id="flashError" th:value="${error}" />

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const success = document.getElementById("flashSuccess").value;
        const error = document.getElementById("flashError").value;

        if (success || error) {
            const modal = new bootstrap.Modal(document.getElementById('statusModal'));
            const header = document.getElementById('statusModalHeader');
            const label = document.getElementById('statusModalLabel');
            const message = document.getElementById('statusModalMessage');

            if (success) {
                header.classList.add("bg-success", "text-white");
                label.textContent = "Success";
                message.textContent = success;
            } else if (error) {
                header.classList.add("bg-danger", "text-white");
                label.textContent = "Error";
                message.textContent = error;
            }

            modal.show();
        }
    });

</script>


<script th:inline="javascript">
    function validatePasswords() {
        var newPassword = document.getElementById('newPassword').value;
        var renewPassword = document.getElementById('renewPassword').value;

        if (newPassword !== renewPassword) {
            alert("Passwords do not match!");
            return false;
        }
        return true;
    }
</script>
<script>
    function checkPasswordStrength(password) {
        var strengthContainer = document
            .getElementById('passwordStrengthMessage');
        var strengthIndicator = document.getElementById('passwordStrength');

        if (password.length === 0) {
            strengthContainer.style.display = 'none';
        } else {
            strengthContainer.style.display = 'block';
            var strength = 'Weak';
            if (password.length >= 6) {
                if (/[a-z]/.test(password)) {
                    if (/[A-Z]/.test(password)
                        && /\d/.test(password)
                        && /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/
                            .test(password)) {
                        strength = 'Strong';
                    } else if (/\d/.test(password)) {
                        strength = 'Medium';
                    }
                }
            }
            strengthIndicator.textContent = strength;
        }
    }
    document.getElementById('passwordStrengthMessage').style.display = 'none';
    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var icon = document.querySelector('#' + inputId
            + ' + .input-group-append i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        }
    }
</script>
<script th:if="${forcePasswordChange}">
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('profile-change-password').classList.add('show', 'active');
    });
</script>
<!--<script th:if="${success}">-->
<!--    setTimeout(function() {-->
<!--        window.location.href = '/login';-->
<!--    }, 1000); // Redirect after 1 second-->
<!--</script>-->

<script th:if="${success}">
    function redirectToLogin() {
        window.location.href = '/login';
    }
</script>


</body>
</html>